.fill-pw {
    width: 100%;
}

.fill-ph {
    height: 100%;
}

.fill-vw {
    width: 100dvw;
}

.fill-vh {
    height: 100dvh;
}

.shrink-w {
    width: fit-content;
}

.shrink-h {
    height: fit-content;
}

.box-shadow-s {
    box-shadow: var(--box-shadow-s);
}

.box-shadow-m {
    box-shadow: var(--box-shadow-m);
}

.box-shadow-l {
    box-shadow: var(--box-shadow-l);
}

.pos-abs {
    position: absolute;
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: col;
}

.gap-s {
    gap: var(--len-s)
}

.gap-m {
    gap: var(--len-m)
}

.gap-l {
    gap: var(--len-l)
}

.no-select {
    user-select: none;
}

.grab-cursor {
    cursor: grab;
}

.grabbing-cursor {
    cursor: grabbing
}

.pointer-cursor {
    cursor: pointer;
}

.pad-s {
    padding: var(--len-s)
}

.pad-m {
    padding: var(--len-m)
}

.pad-l {
    padding: var(--len-l)
}

.pad-top-s {
    padding-top: var(--len-s)
}

.pad-right-s {
    padding-right: var(--len-s)
}

.pad-bottom-s {
    padding-bottom: var(--len-s)
}

.pad-left-s {
    padding-left: var(--len-s)
}

.pad-top-m {
    padding-top: var(--len-m)
}

.pad-right-m {
    padding-right: var(--len-m)
}

.pad-bottom-m {
    padding-bottom: var(--len-m)
}

.pad-left-m {
    padding-left: var(--len-m)
}

.pad-top-l {
    padding-top: var(--len-l)
}

.pad-right-l {
    padding-right: var(--len-l)
}

.pad-bottom-l {
    padding-bottom: var(--len-l)
}

.pad-left-l {
    padding-left: var(--len-l)
}


/* CSS RESET  (thx to Josh Comeau)*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}